.nav-item {
    background-color: rgb(12, 12, 12);
    margin: 4px;
    border-radius: 10px;
}

.nav-item a {
    display: flex;
    display: flex;
    /* gap: 20px; */
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition-duration: 1s;
}

.nav-item a:hover {
    color: black;
    border-radius: 10px;
    background-color: azure;
    /* transition-duration: 0.3s; */
}

.title {
    transition-duration: 1s;
    padding-left: 20px;
}

a .hidden {
    padding: 0px;
    font-size: 0px;
    transition-duration: 1s;
}

.ahid-act {
    padding: 20px 80px 20px 80px;
    transition-duration: 1s;
}

.ahid {
    transition-duration: 1s;
    padding: 20px 20px 20px 20px;
}